.container{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(15,50px);
}
header{
  grid-column: 1/-1;
  grid-row: 1/2;
}

 .rätt1 {
   grid-column: 7/-1;
   grid-row: 3/6;
 }
 .rätt2 {
   grid-column: 1/2;
   grid-row: 3/6;
 }
 .rätt3 {
   grid-column: 3/4;
   grid-row: 3/6;
 }
 #hamburgare {
   grid-column: 7/-1;
   grid-row: 6/10;
   }
 #kebab {
   grid-column: 1/2;
   grid-row: 6/10;
 }

 #dessert {
   grid-column: 3/4;
   grid-row: 6/10;
}
footer{
  grid-column:1/-1;
  grid-row: 13/16;
}

.container1{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,75px);
  }
header{
    grid-column: 1/-1;
    grid-row: 1/2;
}
h1{
  grid-column: 2/10;
  grid-row: 1/2;
}
footer{
    grid-column: 1/-1;
    grid-row: 10/11;
  }
nav{
  grid-column: 2/10;
  grid-row: 2/3;
}
ul{
  grid-column: 2/10;
  grid-row: 2/3;
}
figure{
  grid-column: 1/5;
  grid-row: 4/8;
}
div{
  grid-column: 1/5;
  grid-row: 4/8;
}
p{
  grid-column: 6/-1;
  grid-row: 4/8;
}


.container2{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(10,50px);
}
 header{
   grid-column: 1/-1;
   grid-row: 1/4;
 }
 article{
   grid-column: 1/5;
   grid-row: 4/8;
 }
 section{
   grid-column: 5/9;
   grid-row: 4/8;
 }
 figure{
   grid-column: 9/-1;
   grid-row: 4/8;
 }
 footer{
   grid-column: 1/-1;
   grid-row: 10/11;
 }
 /*Mobilanpassning*/
 @media only screen and (max-width: 600px){
 	nav{
 		grid-column: 1/-1;
     grid-row: 2/3;
 }
 	section{
 		grid-column: 1/6;
     grid-row: 3/8;
 }
   figure{
     grid-column: 6/7;
     grid-row: 3/8;
   }
 }
